.navbar-dark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 3px solid #d9d9d9;
  background: black;
  width: 100vw;
  transform: translateY(-50%);
}
.navbar:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 3px solid #152c38;
  background: black;
  width: 100vw;
  transform: translateY(-50%);
}

/* .mobile-navbar:before {
  content: "";
  position: absolute;
  top: 35%;
  left: 0;
  border-top: 3px solid #d9d9d9;
  background: black;
  width: 100vw;
  transform: translateY(-50%);
} */

/* .mobile-navbarEx:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  border-top: 3px solid #d9d9d9;
  background: black;
  width: 100vw;
  transform: translateY(-50%);
} */
