@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0 !important;
}

body {
  color: rgb(var(--foreground-rgb));
  /* !! Use MUI theme vars? Possible? */
  background: linear-gradient(to bottom, #152c38 2%, #27404e 50%, #152c38 100%);
}

.swal2-container {
  padding: 0;
}
.swal2-html-container {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.swal2-popup {
  border-radius: 4px;
  box-shadow: 10px 8px black;
}

a {
  color: inherit;
  text-decoration: none;
}
