:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #152c38;
  --background-end-rgb: #3b7a9e;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, var(--background-end-rgb)) var(--background-start-rgb); */
}

a {
  color: inherit;
  text-decoration: none;
}
